	
	
<% if logged_in? %>

<div id="heading">
	
	<div id="inheading">
<div id="meetume"><a href="/">Meetume</a></div>
<div id="logoutbutton"><%= link_to "Logout", logout_path, method: "delete" %></div>

</div>
</div>

<% else %>	
	<div id="heading">
		
		<div id="inheading">
			
	<div id="meetume"><a href="/">Meetume</a></div>
	
	<div id="city">Fairfield, IA</div>
	
	<div id="login">
	  <%= form_for(:session, :url => sessions_path) do |f| %>

	      <div id="emailcss"><%= f.label :email %></div>
	      <div id="emailboxcss"><%= f.text_field :email %></div>

	     <div id="passwordcss"> <%= f.label :password %></div>
	      <div id="passboxcss"><%= f.password_field :password %></div>
	
	      <div id="loginbutton"><%= f.submit "Login", :class => "btn btn-large btn-primary", :type => "image", :src => "/blank.png", :width =>"125", :height => "48"%></div>
	    <% end %>
	</div>
	
	<div id="joinbutton"><a href="/join"><input type="image" src="/blank.png" width="300" height="83"></a></div>
	
	</div>
	
</div>

<% end %>

	